<div class="container mt20">
  <div class="jumbotron text-center">
    <h1>Simple Library App</h1>
    <p>This is a nonsense description</p>
    <p class="mt50"><a class="btn btn-primary btn-lg">Learn more</a></p>
  </div>
</div>
